<h2>Il nostro menu</h2>
<ul id="lista-pizze">
    <li class="list-item" (click)="selectPizza(listaPizze[1])">{{listaPizze[1].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[2])">{{listaPizze[2].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[3])">{{listaPizze[3].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[4])">{{listaPizze[4].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[5])">{{listaPizze[5].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[6])">{{listaPizze[6].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[7])">{{listaPizze[7].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[8])">{{listaPizze[8].nome}}</li>
    <li class="list-item" (click)="selectPizza(listaPizze[9])">{{listaPizze[9].nome}}</li>
</ul>